.reviews {
}
.reviews-title {
}
.reviews-list {
}
.reviews-item {
  background: #fff;
}
.reviews-avatar {
}
.reviews-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
}
.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
}
